bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.DreamEngine/.idea/workspace.xml
.vs
.vs/DreamEngine/FileContentIndex/6cdd9aaf-d37e-4691-9c5f-4ceefcb9ff35.vsidx
.vs/DreamEngine/FileContentIndex/read.lock
.vs/DreamEngine/v17/.suo
.vs/DreamEngine/v17/Browse.VC.db
.vs/DreamEngine/v17/ipch/AutoPCH/478dd5a7f31e2aff/DREAMENGINE.ipch
.vs
.vs
.idea
*.tlog
*.obj
*.idb
*.pdb
DreamEngine/x64/Debug/DreamEngine.exe.recipe
DreamEngine/x64/Debug/DreamEngine.ilk
DreamEngine/x64/Debug/DreamEngine.obj
DreamEngine/x64/Debug/DreamEngine.tlog/CL.command.1.tlog
DreamEngine/x64/Debug/DreamEngine.tlog/CL.read.1.tlog
DreamEngine/x64/Debug/DreamEngine.tlog/CL.write.1.tlog
DreamEngine/x64/Debug/DreamEngine.tlog/DreamEngine.lastbuildstate
DreamEngine/x64/Debug/DreamEngine.tlog/link.command.1.tlog
DreamEngine/x64/Debug/DreamEngine.tlog/link.read.1.tlog
DreamEngine/x64/Debug/DreamEngine.tlog/link.write.1.tlog
DreamEngine/x64/Debug/glad.obj
DreamEngine/x64/Debug/vc143.idb
DreamEngine/x64/Debug/vc143.pdb
x64/Debug/DreamEngine.exe
x64/Debug/DreamEngine.pdb
DreamEngine/x64
x64
*.vsidx
*.db
.vs/DreamEngine/v17/.suo
